# ignore all
/*

# unignore zshrc
!.zshrc
!.zshenv

# unignore .config
!.config/

# ignore .DS_Store
*/.DS_Store

# unignore README
!README.md

# unignore .gitignore
!.gitignore

# ignore runtimes
.config/helix/runtime

# ignore tmux plugins
.config/tmux/plugins

# ignore zsh_history
.config/zsh/.zsh_history  

# ignore zsh sessions
.config/zsh/.zsh_sessions/
