configuration {
        show-icons: true;
        terminal: "kitty";
        auto-select: false;
        display-run: " ";
        display-drun: "  ";
        display-window: "  ";
        drun-display-format: "{icon} {name}";
        font: "FiraCode Nerd Font 12";
        modi: "window, run, drun";
}

@import "nord"
