configuration {
        show-icons: true;
        disable-history: true;
        fullscreen: false;
        hide-scrollbar: true;
}

@import "nord.rasi"

inputbar {
        enabled: false;
}

listview {
        cycle: true;
}
